.Categories {
    color: gray;
    padding: 10px;
    width: 70%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}